.head{
    box-sizing: border-box;
    height: 75px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid rgba(176, 38, 255, 0.5);
    }
    #logo{
    width: 240px;
    height: 40px;
    left: calc(50% - 240px/2 - 521px);
    top: calc(50% - 40px/2 + 0.5px);
    }