<div class="container-fluid" style="background-color: black;">

  <div class="row" style=" background-color: rgba(0, 0, 0, 0.9);">
    <app-header></app-header>
  </div>
  <div class="row sho ">
    <video autoplay muted loop>
      <source src="backvideo.mp4" type="video/mp4" alt="not work">

    </video>
    <app-cont1 class="content"></app-cont1>
  </div>
  <div class="row" style="background: white;">
    <app-iconcont1></app-iconcont1>
  </div>
  <div class="row" style=" background-color: rgba(36, 24, 58, 0.9);">
    <app-cont2></app-cont2>
  </div>
  <div class="row">
    <app-iconcont2></app-iconcont2>
  </div>

  <div class="row" style="background-color: rgba(36, 24, 58, 0.9);">
    <app-footer></app-footer>
  </div>
</div>

<router-outlet />