/* Background Video */
/* html{
    background-color: #28083A;
} */
/* .container{ */
/* position: absolute; */
/* width: 1440px; */
/* height: 835px; */
/* left: 0px; */
/* top: 0px; */

/* background: url(https://s3-figma-videos-production-sig.figma.com/video/1073151486181175451/TEAM/97fb/bfe7/-b972-4385-b947-78b4967cb57b?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=i5f0ngK3jxIc8sJ2R6hkPqM-sHtcCKImA4dO3-WVgQgSPIg06qG1myD4ye5BINzxsc3ezGKC4TXYJ9nPIGkYBR5ksJSUGtaphDf0g5boR0-6d5dUWRlOMer-1vUwJm7RgGcG~ctUdPUjId9xhPGyC7CSWk8-AOn0K08GoMfdi58T~Xt71it~g4FHi5GA8OzMBe9BiFp4wQRXEmapSFZk~p1~MSeI93RHj1MVy5CH~TO5wN22RcxMreTydAOs0C4JE4iJNiwNHVHxmaUuFCL3dwd1Qs65tZX-7AsM~Na288TaRBLkdf~fMqYHNN6FeT09KjYZOFoLPshuwW4U3-noLA__ ); */
/* background-color: #28083A; */
/* background: #28083A; */
/* position: relative; */
/* width: 1440px; */
/* height: 1752px; */

/* background: url(blur 2.png), url(Untitled design (84).png); */
/* } */


/* .head{width: 1440;
height: 75;
background-color: #000000E5;} */
/* body{ */
    /* Group 1000006140 */

/* position: absolute;/* Untitled design (96) 1 */

/* position: absolute;
width: 273px;
height: 70px;
left: 239px;
top: 1037px;

background: url(Untitled design (96).png); */


/* width: 1133px;
height: 24px;
left: calc(50% - 1133px/2 + 0.5px);
top: 1690px; */ 


/* } */

.background-container {
    
    width: 100%;
    height: 100vh;
    background: #333;
    background-size: cover;
    background-position: center;
  }
header{
border-bottom-width: 2px;

border-bottom: 2px solid #B026FF80;
}

/* Frame 1000005979 */
.head{
box-sizing: border-box;

/* position: absolute; */
/* width: 1440px; */
height: 75px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.9);
border-bottom: 2px solid rgba(176, 38, 255, 0.5);
}

/* Component 20 */
/* logodb-PhotoRoom 1 */
#logo{
/* position: absolute; */
width: 240px;
height: 40px;
left: calc(50% - 240px/2 - 521px);
top: calc(50% - 40px/2 + 0.5px);

/* background: url(logodb-PhotoRoom.png); */
}
#signin{
position: absolute;
width: 150px;
height: 53px;
left: 1189px;
top: 12px;
}

/* Frame 1000006389 */

#cont1{box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 30px;
gap: 10px;

/* position: absolute; */
width: 825px;
height: 60px;
left: calc(50% - 825px/2 + 0.5px);
top: 114px;

/* background: #28083A; */
border: 1px solid rgba(223, 223, 223, 0.1);
box-shadow: 0px 1px 4px rgba(217, 217, 217, 0.3);
border-radius: 10px;
}
 /* Group 2 */
 /* #logo2{ */
    /* position: absolute; */
    /* width: 749.4px; */
    /* height: 385.87px; */
    /* left: 642.4px; */
    /* top: -131.99px; */
    /* top: 3px; */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    /* } */

    /* 1_l6cab9mkAVDOxmguOOcF-g 1 */
#singularity{
/* position: absolute; */
/* width: 279.93px; */
height: 76px;
left: calc(50% - 279.93px/2 - 0px);
top: 228px;

/* background: url(1_l6cab9mkAVDOxmguOOcF-g.png); */
}
/* Frame 1000006383 */

/* Auto layout */
#hackindiacont{
/* display: flex; */
/* flex-direction: column; */
/* align-items: center;
padding: 0px;
gap: 35px;

justify-content: center; */
/* position: absolute; */
/* width: 866px; */
height: 332px;
left: 287px;
top: 323px;
}
#regtext{
    /* Home */

position: absolute;
width: 125px;
height: 27px;
left: calc(50% - 125px/2 + 2px);
top: calc(50% - 27px/2 + 2px);

font-family: 'VTF Justina GEO';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 147.5%;
/* identical to box height, or 27px */
text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;


}
#regnow{
    /* Assignment page */

position: relative;
/* width: 1440px; */
/* height: 1752px; */


}
/* Group 56 */
#iconcon1{
    /* Frame 1000006384 */
    /* position: absolute; */
    /* width: 1445px; */
    height: 90px;
    left: -15px;
    right: 15px;
    top: 835px;
    
    background: #D9D9D9;
/* position: absolute; */
/* width: 1445px; */
/* height: 90px; */
/* left: -5px; */
/* top: 835px; */
/* width: 100%; */
  /* height: auto;  */
  /* display: block; */
background-color: #D9D9D9;

/* Frame 1000006384 */

/* position: absolute; */
/* width: 1445px; */
height: 90px;
/* left: -5px; */
/* top: 835px; */

background: #D9D9D9;


/* position: absolute; */
/* width: 177.21px; */
/* height: 59px; */
/* left: 0px;
top: 0px; */
color: aliceblue;
}
/* Untitled design (96) 1 */

#flash{
position: absolute;
width: 273px;
height: 70px;
left: 239px;
top: 1037px;

/* background: url(Untitled design (96).png); */
transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* Frame 1000006388 */

/* Auto layout */

#cont2{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 657px;
height: 228px;
left: 95px;
top: 1144px;

}
#cont3{
    /* Leonardo_Anime_XL_A_man_making_nuclear_reactor_on_laptop_in_an_2 1 */

position: absolute;
width: 641px;
height: 351px;
left: 734px;
top: 1019px;

/* background: url(kwq.png); */

}

/* Leonardo_Anime_XL_A_man_making_nuclear_reactor_on_laptop_in_an_2 1 */
/* #cont4{
position: absolute;
width: 641px;
height: 351px;
left: 734px;
top: 1019px;
} */
/* Frame 1000006390 */
#cont4{
    /* height: 90px;
    left: -15px;
    right: 15px;
    top: 835px; */
    
    background: #D9D9D9;
/* position: absolute; */
/* width: 1445px; */
/* height: 90px; */
/* left: 20px; */
/* top: 1510px; */

/* background: #D9D9D9; */
}
#iconcont2{
    /* Frame 1000006390 */

position: absolute;
/* width: 1445px; */
height: 90px;
left: 0px;
top: 1510px;

background: #D9D9D9;

}
#cont5{
    /* Group 1000006140 */

/* position: absolute; */
/* width: 1133px; */
height: 24px;
/* left: calc(50% - 1133px/2 + 0.5px); */
top: 1640px;
width: 100%;
    /* height: 100vh; */
    background: #333;
    /* background-size: cover;
    background-position: center; */

}
/* Assignment page */


/* Assignment page */

/* position: relative;
width: 1440px;
height: 1752px;

background: url(blur 2.png), url(Untitled design (84).png); */

/* Assignment page */

/* position: relative;
width: 1440px;
height: 1752px;

background: url(blur 2.png), url(Untitled design (84).png); */
